<style > * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-padding-top: 200px;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(245, 245, 245);
  line-height: 1.6;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 40px auto 0px auto;
  padding: 20px;
}

.header {
  background-color: rgb(255, 255, 255);
  box-shadow: #34041a 5px 5px 15px;
  text-align: center;
  color: rgb(215, 0, 0);
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.sub-header {
  text-align: center;
  color: rgb(89, 89, 89);
  margin-bottom: 30px;
}

code {
  background-color: blanchedalmond;
  padding: 2px 4px;
  border-radius: 4px;
}

.btn-text-link {
  background-color: #ff0066;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-left: 3px;
}

.btn-text-link:hover {
  background-color: #34041a;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px;
  gap: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.card {
  background-color: rgb(255, 255, 255);
  margin-bottom: 25px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.bordercolor-1 {
  border-top: 4px solid rgb(255, 204, 0);
}
pre {
  background: #f1f1f1;
  padding: 10px;
  overflow-x: auto;
  border-left: #22c55e 4px solid;
  margin: 10px 0;
  font-size: 13px;
}
.note {
  margin-top: 16px;
  padding: 12px 16px;
  background: rgba(34, 197, 94, 0.08);
  border-left: 4px solid #22c55e;
  border-radius: 8px;
  color: #166534;
  font-size: 14px;
}

.note::before {
  content: "❤️ ";
}
.badge {
  background-color: coral;
  color: white;
  padding: 3px 8px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
}

.images {
  width: 101px;
  height: auto;
}

.position {
    display: flex;

}
.position.leff {justify-content: flex-start;}
.position.conter {justify-content: center;}
.position.right {justify-content: flex-end;}

</style >;
